{% extends 'base.html.twig' %}

{% block title_page %}
    EMR || Consulta Médica
{% endblock %}

{% block breadcrumb %}
    {# {{ include('EmrBundle:consulta:_breadcrumb.html.twig' )  }} #}
{% endblock %} 

{% block submenutop %}
    {# {{ include('EmrBundle:consulta:_submenu.html.twig' )  }} #}
{% endblock %} 



{% block header %}
        <h1>Home</h1>
{% endblock %}

{% block content %}
    

    
    
{% endblock %}

{% block codejs %}
    <script>
        //$(document).on("ready", function(){
        $(function () {
            
            
        });
    </script>    
{% endblock %}
