{# app/Resources/views/Emails/registration.html.twig #}
<h3>Message sent from doctorsbillboard.com!</h3>

<p>
    Hi <strong>{{ fullNameProflie }}!</strong> an user sent you a message.
</p>

<table>
    <tr>
        <td><p>User: {{ name }}<p></td>
        <td><p>Email: {{ email }}</p></td>
        <td><p>Message: {{ msg }}</p></td>
    </tr>
</table>

<p>
    If you want to update your information, you can access in the link below. <br>
    To login, go to: <a href="www.doctorsbillboard.com/login">www.doctorsbillboard.com/login</a>.
</p>
<p>
    If you want to disable the notifications click in "setting"
</p>
Thanks!

{# Makes an absolute URL to the /images/logo.png file #}
