{# app/Resources/views/Emails/registration.html.twig #}
<h3>Message sent from doctorsbillboard.com!</h3>

Hi {{ fullNameProflie }}! An user sent you a message.

<table>
    <tr>
        <td>User: {{ name }}</td>
        <td>Email: {{ email }}</td>
        <td>Message: {{ msg }}</td>
    </tr>
</table>

If you want to update your information, you can access in the link below. 
To login, go to: <a href="www.doctorsbillboard.com/login">www.doctorsbillboard.com/login</a>.

If you want to disable the notifications click in "setting"

Thanks!

{# Makes an absolute URL to the /images/logo.png file #}
