<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="keywords" content="">
<meta name="description" content="">
<title>ElemoListing - Directory & Listings HTML Template</title>
<!--Bootstrap -->
<link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css">
<!--Custome Style -->
<link rel="stylesheet" href="assets/css/style.css" type="text/css">
<!--OWL Carousel slider-->
<link rel="stylesheet" href="assets/css/owl.carousel.css" type="text/css">
<!--FontAwesome Font Style -->
<link href="assets/css/font-awesome.min.css" rel="stylesheet">
<!-- Custom Colors -->
<link rel="stylesheet" href="assets/css/colors/blue.css">
<!--<link rel="stylesheet" href="assets/css/colors/red.css">-->
<!--<link rel="stylesheet" href="assets/css/colors/orange.css">-->
<!--<link rel="stylesheet" href="assets/css/colors/pink.css">-->
<!--<link rel="stylesheet" href="assets/css/colors/green.css">-->
<!--<link rel="stylesheet" href="assets/css/colors/purple.css">-->
    
<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/images/favicon-icon/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/images/favicon-icon/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="assets/images/favicon-icon/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="assets/images/favicon-icon/favicon.png">
<!-- Google-Font-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"> 
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->  
</head>
<body>
<!-- Header -->
<header id="header">
    <nav class="navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="10">
        <div class="container">
          <div class="navbar-header">
            <div class="logo"> <a href="index.html"><img src="assets/images/logo.png" alt="image"/></a> </div>
            <button id="menu_slide" data-target="#navigation" aria-expanded="false" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> 
                <span class="sr-only">Toggle navigation</span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
            </button>
          </div>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav">
              <li class="menu-item-has-children"><a href="#">Home</a> <span class="arrow"></span>
              	<ul class="sub-menu">
                	<li><a href="index.html">Home 1</a></li>
                    <li><a href="index-2.html">Home 2</a></li>
                    <li><a href="index-3.html">Home 3</a></li>
                 </ul>
              </li>
              <li class="menu-item-has-children"><a href="#">Listing</a> <span class="arrow"></span>
              	 <ul class="sub-menu">
                 	<li class="menu-item-has-children"><a href="#">Grid Layout</a> <span class="arrow"></span>
                    	<ul class="sub-menu">
                            <li><a href="listing-grid.html">Listing Gird</a></li>
                            <li><a href="listing-grid-sidebar.html">Listing Gird Sidebar</a></li>
                            <li><a href="listing-grid-map.html">Listing Gird Half Map</a></li>
                        </ul> 
                    </li>
                    <li class="menu-item-has-children"><a href="#">List Layout</a> <span class="arrow"></span>
                    	<ul class="sub-menu">
                            <li><a href="listing-listview.html">Listing List</a></li>
                            <li><a href="listing-listview-sidebar.html">Listing List Sidebar</a></li>
                            <li><a href="listing-listview-map.html">Listing List Half Map</a></li>
                        </ul> 
                    </li>
                    <li class="menu-item-has-children"><a href="#">Single Listing</a> <span class="arrow"></span>
                    	<ul class="sub-menu">
                            <li><a href="listing-detail-1.html">Style 1</a></li>
                            <li><a href="listing-detail-2.html">Style 2</a></li>
                        </ul> 
                    </li>
                 </ul>
              </li>
              <li class="menu-item-has-children"><a href="#">Pages</a> <span class="arrow"></span>
              	 <ul class="sub-menu">
                	<li><a href="about-us.html">About Us</a></li>
                    <li><a href="how-it-work.html">How it Work</a></li>
                    <li><a href="pricing.html">Pricing</a></li>
                    <li><a href="contact-us.html">Contact Us</a></li>
                    <li><a href="404-error.html">404 Error</a></li>
                </ul> 
              </li>
              <li class="menu-item-has-children"><a href="#">Blog</a> <span class="arrow"></span>
              	 <ul class="sub-menu">
                	<li><a href="blog-grid-style.html">Blog Grid Style</a></li>
                    <li><a href="blog-list-style.html">Blog List Style</a></li>
                    <li><a href="blog-single.html">Single Blog</a></li>
                </ul> 
              </li>
              <li class="menu-item-has-children">
              		<a href="#">Elements</a>
                    <ul class="sub-menu">
                        <li><a href="header.html">Header Style</a></li>
                        <li><a href="footer.html">Footer Style</a></li>
                    </ul> 
               </li>
              <li class="menu-item-has-children"><a href="#">User Panel</a> <span class="arrow"></span>
              	 <ul class="sub-menu">
                	<li><a href="dashboard.html">Dashboard</a></li>
                    <li><a href="dashboard-my-listings.html">My Listings</a></li>
                    <li><a href="dashboard-reviews.html">Reviews</a></li>
                    <li><a href="dashboard-bookmarks.html">Bookmarks</a></li>
                    <li><a href="blog-single.html">Add Listing</a></li>
                    <li><a href="dashboard-my-profile.html">My Profile</a></li>
                </ul> 
              </li>
              <li><a href="signin.html">Sign In</a></li>
            </ul>
            <div class="submit_listing">
	            <a href="pricing.html" class="btn outline-btn"><i class="fa  fa-plus-circle"></i> Submit Listing</a>
            </div>
          </div>
        </div>
    </nav>
</header>
<!-- /Header -->

<!-- Inner-Banner -->
<section id="inner_banner" class="parallex-bg howitwork_bg">
	<div class="container">
    	<div class="white-text text-center div_zindex">
        	<h1>But I must explain to mistaken</h1>
        </div>
    </div>
    <div class="dark-overlay"></div>
</section>
<!-- /Inner-Banner -->

<!-- Blog -->
<section id="inner_pages">
	<div class="container">
		<div class="row">
        	<div class="col-md-8">
            	<article class="article_wrap single_post">    
                    <div class="post-thumbnail">
                        <img src="assets/images/800x530.jpg" alt="image">
                    </div>
                    <div class="entry_meta">
                        <span class="meta_m"><i class="fa fa-eye"></i> 48 Views</span>
                        <span class="meta_m"><i class="fa fa-heart-o"></i> <a href="#">4 Likes</a></span>
                    </div>
                    <div class="entry-desc">
                        <div class="entry-content">
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                    </div>
                    <div class="post_tag">
                        <span>Tags:</span> 
                        <a href="#">Inspiration</a>
                        <a href="#">Health & Care</a>
                    </div>
                    <div class="share_post">
                        <a href="#" class="facebook"><i class="fa fa-facebook-f"></i> Facebook</a>
                        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i> Linkedin</a>
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i> Twitter</a>
                        <a href="#" class="g_plus"><i class="fa fa-google-plus"></i> Goodle Plus</a>
                    </div>
                </article>  
                     
                <!-- All-Comments -->
                <div class="articale_comments">
                	<div id="comments">
	                	<h4 class="block-head">2 Comments</h4>
                        <ul class="commentlist">                           
                            <li class="comment">
                            	<div class="comment-body">
                                	<div class="comment-author">
                                    	<img class="avatar" src="assets/images/100x100.jpg" alt="image">
                                    	<span class="fn">John Smith</span>
                                    </div>
                                    <div class="comment-meta commentmetadata"> <a href="#">Feb 23, 2016 at 12:52 pm</a> </div>
                                    <div class="comment-content">
	                                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
                                        sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
                                        Ut enim ad minima veniam, quis nostrum exercitationem</p>
                                    </div>
                                    <div class="reply">
                                    	<a href="#" class="btn-link"><i class="fa fa-reply" aria-hidden="true"></i> Reply</a>
                                    </div>
                                </div>
                                
                                <ul class="children">
                                	 <li class="comment">
		                            	<div class="comment-body">
                                	<div class="comment-author">
                                    	<img class="avatar" src="assets/images/100x100.jpg" alt="image">
                                    	<span class="fn">John Smith</span>
                                    </div>
                                    <div class="comment-meta commentmetadata"> <a href="#">Feb 23, 2016 at 12:52 pm</a> </div>
                                    <div class="comment-content">
	                                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
                                        sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
                                        Ut enim ad minima veniam, quis nostrum exercitationem</p>
                                    </div>
                                    <div class="reply">
                                    	<a href="#" class="btn-link"><i class="fa fa-reply" aria-hidden="true"></i> Reply</a>
                                    </div>
                                </div>
                                	</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                
				<!-- Comment-Form -->
                <div class="comment-respond">
                	<h4 class="block-head">Leave A Comment</h4>
                    <form method="get" class="comment-form">
                    	<div class="form-group">
                        	<input class="form-control" placeholder="Full Name" type="text">
                        </div>
                        
                        <div class="form-group">
                        	<input class="form-control" placeholder="Email Address" type="email">
                        </div>
                        
                        <div class="form-group">
                        	<textarea class="form-control" rows="4" placeholder="Comment"></textarea>
                        </div>
                        
                        <div class="form-group">
							<button class="btn" type="submit">Post Comment</button>
                        </div>
                    </form>
                </div>
            </div>
            
            <aside class="col-md-4">
            	<div class="sidebar">
                	<div class="sidebar_widgets">
                    	<div class="widget_title">
	                    	<h4>Categories</h4>
                        </div>
                        <ul>
                        	<li><a href="#">Lifestyle</a></li>
                            <li><a href="#">Health & Care</a></li>
                            <li><a href="#">Inspiration</a></li>
                            <li><a href="#">Design</a></li>
                            <li><a href="#">Interior</a></li>
                            <li><a href="#">Uncategorized</a></li>
                        </ul>
                    </div>
                    
                    <div class="sidebar_widgets">
                    	<div class="widget_title">
	                    	<h4>Featured Posts</h4>
                        </div>
                       <div class="featured_posts"> 
                       	  <div class="thubb_img">
                          	 <a href="#"><img src="assets/images/800x530.jpg" alt="image"></a>
                          </div>
                       	  <div class="info_m">
                         	 <h6><a href="#">At vero eos et accusamus</a></h6>
                             <p><span class="meta_m"><i class="fa fa-clock-o"></i> 20 May 2017</span></p>
                           </div>
                       </div>
                       
                       <div class="featured_posts"> 
                       	  <div class="thubb_img">
                          	 <a href="#"><img src="assets/images/800x530.jpg" alt="image"></a>
                          </div>
                       	  <div class="info_m">
                         	 <h6><a href="#">At vero eos et accusamus</a></h6>
                             <p><span class="meta_m"><i class="fa fa-clock-o"></i> 20 May 2017</span></p>
                           </div>
                       </div>
                       
                       <div class="featured_posts"> 
                       	  <div class="thubb_img">
                          	 <a href="#"><img src="assets/images/800x530.jpg" alt="image"></a>
                          </div>
                       	  <div class="info_m">
                         	 <h6><a href="#">At vero eos et accusamus</a></h6>
                             <p><span class="meta_m"><i class="fa fa-clock-o"></i> 20 May 2017</span></p>
                           </div>
                       </div>
                    </div>
                    
                </div>
            </aside>
        </div>
    </div>
</section>
<!-- /Blog -->

<!-- Footer -->
<footer id="footer" class="secondary-bg">
	<div class="container">
    	<div class="row">
        	<div class="col-md-4">
            	<div class="footer_widgets">
                	<h5>Connect with Us</h5>
                    <div class="follow_us">
                    	<ul>
                        	<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
            	<div class="footer_widgets">
                	<h5>Quick Links</h5>
                    <div class="footer_nav">
                    	<ul>
                        	<li><a href="#">How it Work</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & condition</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
            	<div class="footer_widgets">
                	<h5>Our Newsletter</h5>
                    <div class="newsletter_wrap">
                    	<form action="" method="get">
                        	<input type="email" class="form-control" placeholder="Enter Email Address">
                            <input type="submit" value="subscribe" class="btn">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="footer_bottom">
    	<div class="container">
        	<p>Copyright &copy; 2017 ElemoListing Private Limited. All Rights Reserved</p>
        </div>
    </div>
</footer>
<!-- /Footer -->


<!-- Scripts --> 
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script> 
<script src="assets/js/interface.js"></script> 
<!--Carousel-JS--> 
<script src="assets/js/owl.carousel.min.js"></script>
</body>
</html>