<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="keywords" content="">
<meta name="description" content="">
<title>ElemoListing - Directory & Listings HTML Template</title>
<!--Bootstrap -->
<link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css">
<!--Custome Style -->
<link rel="stylesheet" href="assets/css/style.css" type="text/css">
<link rel="stylesheet" href="assets/css/dashboard.css" type="text/css">
<!--OWL Carousel slider-->
<link rel="stylesheet" href="assets/css/owl.carousel.css" type="text/css">
<!--FontAwesome Font Style -->
<link href="assets/css/font-awesome.min.css" rel="stylesheet">
<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/images/favicon-icon/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/images/favicon-icon/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="assets/images/favicon-icon/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="assets/images/favicon-icon/favicon.png">
<!-- Google-Font-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"> 
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->  
</head>
<body>
<div class="dashboard_container">
    <!-- Header -->
    <header id="header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
               <div class="navbar-header">
                <div class="logo"> <a href="index.html"><img src="assets/images/logo.png" alt="image"/></a> </div>
                <div id="dashboard-responsive-nav-trigger"><i class="fa fa-reorder"></i></div>
              </div>
                <div class="collapse navbar-collapse" id="navigation">
                    <div class="user_nav">
                        <div class="dropdown">
                          <span id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="assets/images/100x100.jpg" alt="img"> 
                          </span>
                          <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li><a href="dashboard.html"><i class="fa fa-cogs"></i> Dashboard</a></li>
                            <li><a href="dashboard-my-profile.html"><i class="fa fa-user-o"></i> My Profile</a></li>
                            <li><a href="index.html"><i class="fa fa-power-off"></i> Logout</a></li>                   
                          </ul>
                        </div>
                    </div>
                    <div class="submit_listing">
                        <a href="dashboard-add-listing.html" class="btn outline-btn"><i class="fa  fa-plus-circle"></i> Submit Listing</a>
                     </div>
                </div>
             </div>   
        </nav>
    </header>
    <!-- /Header -->
    
    <div id="dashboard">
        <!-- Navigation -->
        <div id="dashboard-nav" class="dashboard-nav">	
		<ul>
        	<li class="active"><a href="dashboard.html"><i class="fa fa-cogs"></i> Dashboard</a></li>
			<li><a id="MLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-th-list"></i> My Listings</a>
				<ul class="dropdown-menu" aria-labelledby="MLabel">
					<li><a href="dashboard-my-listings.html">Active <span class="nav-tag green">6</span></a></li>
					<li><a href="dashboard-my-listings.html">Pending <span class="nav-tag yellow">1</span></a></li>
					<li><a href="dashboard-my-listings.html">Expired <span class="nav-tag red">2</span></a></li>
				</ul>	
			</li>
			<li><a href="dashboard-reviews.html"><i class="fa fa-star-o"></i> Reviews</a></li>
			<li><a href="dashboard-bookmarks.html"><i class="fa fa-bookmark-o"></i> Bookmarks</a></li>
			<li><a href="dashboard-add-listing.html"><i class="fa fa-plus"></i> Add Listing</a></li>
            <li><a href="dashboard-my-profile.html"><i class="fa fa-user-o"></i> My Profile</a></li>
			<li><a href="index.html"><i class="fa fa-power-off"></i> Logout</a></li>
		</ul>	
	</div>
        <!-- Navigation / End -->
    
        <!-- Content -->
        <div class="dashboard-content">
            <!-- Titlebar -->
            <div id="titlebar">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Reviews</h2>
                        <!-- Breadcrumbs -->
                        <nav id="breadcrumbs">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Dashboard</a></li>
                                <li>Reviews</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            
            <div class="row">			
                <!-- Review-List -->
                <div class="col-lg-12 col-md-12">
                    <div class="dashboard-list-box">
                        <ul>
                            <li class="listing-reviews">
                                <div class="review_img">
                                    <img src="assets/images/100x100.jpg" alt="image">
                                </div>
                                <div class="review_comments">
                                    <div class="comment-by">John Doe <span>on</span><a href="#">The Morning Hotel</a>
                                        <div class="listing_review_info"> 
                                            <p><i class="fa fa-star active"></i> 
                                            <i class="fa fa-star active"></i> 
                                            <i class="fa fa-star active"></i> 
                                            <i class="fa fa-star active"></i> 
                                            <i class="fa fa-star"></i> </p>
                                        </div>
                                     </div>
                                    <span class="date">May 2017</span> 
                                    <div class="star-rating">
                                    </div>
                                    <p>Commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus sollicitudin mauris.</p>
                                    <a href="#" class="button gray"><i class="fa fa-reply"></i> Reply to this review</a>
                                </div>
                            </li>
                            
                            <li class="listing-reviews">
                                <div class="review_img">
                                    <img src="assets/images/100x100.jpg" alt="image">
                                </div>
                                <div class="review_comments">
                                    <div class="comment-by">John Doe <span>on</span><a href="#">The Morning Hotel</a>
                                        <div class="listing_review_info"> 
                                            <p><i class="fa fa-star active"></i> 
                                            <i class="fa fa-star active"></i> 
                                            <i class="fa fa-star active"></i> 
                                            <i class="fa fa-star active"></i> 
                                            <i class="fa fa-star"></i> </p>
                                        </div>
                                     </div>
                                    <span class="date">May 2017</span> 
                                    <div class="star-rating">
                                    </div>
                                    <p>Commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus sollicitudin mauris.</p>
                                    <a href="#" class="button gray"><i class="fa fa-reply"></i> Reply to this review</a>
                                </div>
                            </li>
                            
                            <li class="listing-reviews">
                                <div class="review_img">
                                    <img src="assets/images/100x100.jpg" alt="image">
                                </div>
                                <div class="review_comments">
                                    <div class="comment-by">John Doe <span>on</span><a href="#">The Morning Hotel</a>
                                        <div class="listing_review_info"> 
                                            <p><i class="fa fa-star active"></i> 
                                            <i class="fa fa-star active"></i> 
                                            <i class="fa fa-star active"></i> 
                                            <i class="fa fa-star active"></i> 
                                            <i class="fa fa-star"></i> </p>
                                        </div>
                                     </div>
                                    <span class="date">May 2017</span> 
                                    <div class="star-rating">
                                    </div>
                                    <p>Commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus sollicitudin mauris.</p>
                                    <a href="#" class="button gray"><i class="fa fa-reply"></i> Reply to this review</a>
                                </div>
                            </li>
                            
                            <li class="listing-reviews">
                                <div class="review_img">
                                    <img src="assets/images/100x100.jpg" alt="image">
                                </div>
                                <div class="review_comments">
                                    <div class="comment-by">John Doe <span>on</span><a href="#">The Morning Hotel</a>
                                        <div class="listing_review_info"> 
                                            <p><i class="fa fa-star active"></i> 
                                            <i class="fa fa-star active"></i> 
                                            <i class="fa fa-star active"></i> 
                                            <i class="fa fa-star active"></i> 
                                            <i class="fa fa-star"></i> </p>
                                        </div>
                                     </div>
                                    <span class="date">May 2017</span> 
                                    <div class="star-rating">
                                    </div>
                                    <p>Commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus sollicitudin mauris.</p>
                                    <a href="#" class="button gray"><i class="fa fa-reply"></i> Reply to this review</a>
                                </div>
                            </li>
                            
                            <li class="listing-reviews">
                                <div class="review_img">
                                    <img src="assets/images/100x100.jpg" alt="image">
                                </div>
                                <div class="review_comments">
                                    <div class="comment-by">John Doe <span>on</span><a href="#">The Morning Hotel</a>
                                        <div class="listing_review_info"> 
                                            <p><i class="fa fa-star active"></i> 
                                            <i class="fa fa-star active"></i> 
                                            <i class="fa fa-star active"></i> 
                                            <i class="fa fa-star active"></i> 
                                            <i class="fa fa-star"></i> </p>
                                        </div>
                                     </div>
                                    <span class="date">May 2017</span> 
                                    <div class="star-rating">
                                    </div>
                                    <p>Commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus sollicitudin mauris.</p>
                                    <a href="#" class="button gray"><i class="fa fa-reply"></i> Reply to this review</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
    
                <!-- Copyrights -->
                <div class="col-md-12">
				<div class="copyrights">Copyright &copy; 2017 ElemoListing Private Limited. All Rights Reserved</div>
                </div>
            </div>
        </div>
        <!-- Content / End -->
    </div>
</div>


<!-- Scripts --> 
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script> 
<script src="assets/js/interface.js"></script> 
<!--Carousel-JS--> 
<script src="assets/js/owl.carousel.min.js"></script>

</body>
</html>