<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="keywords" content="">
<meta name="description" content="">
<title>ElemoListing - Directory & Listings HTML Template</title>
<!--Bootstrap -->
<link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css">
<!--Custome Style -->
<link rel="stylesheet" href="assets/css/style.css" type="text/css">
<!--OWL Carousel slider-->
<link rel="stylesheet" href="assets/css/owl.carousel.css" type="text/css">
<!--FontAwesome Font Style -->
<link href="assets/css/font-awesome.min.css" rel="stylesheet">
<!-- SWITCHER -->
<link rel="stylesheet" id="switcher-css" type="text/css" href="assets/switcher/css/switcher.css" media="all" />
<link rel="alternate stylesheet" type="text/css" href="assets/switcher/css/blue.css" title="blue" media="all" data-default-color="true" />
<link rel="alternate stylesheet" type="text/css" href="assets/switcher/css/pink.css" title="pink" media="all" />
<link rel="alternate stylesheet" type="text/css" href="assets/switcher/css/orange.css" title="orange" media="all" />
<link rel="alternate stylesheet" type="text/css" href="assets/switcher/css/green.css" title="green" media="all" />
<link rel="alternate stylesheet" type="text/css" href="assets/switcher/css/red.css" title="red" media="all" />
<link rel="alternate stylesheet" type="text/css" href="assets/switcher/css/purple.css" title="purple" media="all" />

<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/images/favicon-icon/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/images/favicon-icon/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="assets/images/favicon-icon/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="assets/images/favicon-icon/favicon.png">
<!-- Google-Font-->
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>



<div class="section_element_heading">

	<div class="container">
    	<div class="row">
        	<div class="col-md-12">
            	<div class="section-header text-center">
                  <h1>3 Type Header Styles</h1>
            </div>
        </div>
    </div>
</div>
<div class="style_header_element">
	
	<section class="section-padding">
    	<h2>Header Style 1</h2>
        
   <!-- Header Style 1 Start-->     
<header id="header">
    <nav class="navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="10">
        <div class="container">
          <div class="navbar-header">
            <div class="logo"> <a href="index.html"><img src="assets/images/logo.png" alt="image"/></a> </div>
            <button id="menu_slide" data-target="#navigation" aria-expanded="false" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> 
                <span class="sr-only">Toggle navigation</span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
            </button>
          </div>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav">
              <li class="menu-item-has-children"><a href="#">Home</a> <span class="arrow"></span>
              	<ul class="sub-menu">
                	<li><a href="index.html">Home 1</a></li>
                    <li><a href="index-2.html">Home 2</a></li>
                    <li><a href="index-3.html">Home 3</a></li>
                 </ul>
              </li>
              <li class="menu-item-has-children"><a href="#">Listing</a> <span class="arrow"></span>
              	 <ul class="sub-menu">
                 	<li class="menu-item-has-children"><a href="#">Grid Layout</a> <span class="arrow"></span>
                    	<ul class="sub-menu">
                            <li><a href="listing-grid.html">Listing Gird</a></li>
                            <li><a href="listing-grid-sidebar.html">Listing Gird Sidebar</a></li>
                            <li><a href="listing-grid-map.html">Listing Gird Half Map</a></li>
                        </ul> 
                    </li>
                    <li class="menu-item-has-children"><a href="#">List Layout</a> <span class="arrow"></span>
                    	<ul class="sub-menu">
                            <li><a href="listing-listview.html">Listing List</a></li>
                            <li><a href="listing-listview-sidebar.html">Listing List Sidebar</a></li>
                            <li><a href="listing-listview-map.html">Listing List Half Map</a></li>
                        </ul> 
                    </li>
                    <li class="menu-item-has-children"><a href="#">Single Listing</a> <span class="arrow"></span>
                    	<ul class="sub-menu">
                            <li><a href="listing-detail-1.html">Style 1</a></li>
                            <li><a href="listing-detail-2.html">Style 2</a></li>
                        </ul> 
                    </li>
                 </ul>
              </li>
              <li class="menu-item-has-children"><a href="#">Pages</a> <span class="arrow"></span>
              	 <ul class="sub-menu">
                	<li><a href="about-us.html">About Us</a></li>
                    <li><a href="how-it-work.html">How it Work</a></li>
                    <li><a href="pricing.html">Pricing</a></li>
                    <li><a href="contact-us.html">Contact Us</a></li>
                    <li><a href="404-error.html">404 Error</a></li>
                </ul> 
              </li>
              <li class="menu-item-has-children"><a href="#">Blog</a> <span class="arrow"></span>
              	 <ul class="sub-menu">
                	<li><a href="blog-grid-style.html">Blog Grid Style</a></li>
                    <li><a href="blog-list-style.html">Blog List Style</a></li>
                    <li><a href="blog-single.html">Single Blog</a></li>
                </ul> 
              </li>
              <li class="menu-item-has-children">
              		<a href="#">Elements</a>
                    <ul class="sub-menu">
                        <li><a href="header.html">Header Style</a></li>
                        <li><a href="footer.html">Footer Style</a></li>
                    </ul> 
               </li>
              <li class="menu-item-has-children"><a href="#">User Panel</a> <span class="arrow"></span>
              	 <ul class="sub-menu">
                	<li><a href="dashboard.html">Dashboard</a></li>
                    <li><a href="dashboard-my-listings.html">My Listings</a></li>
                    <li><a href="dashboard-reviews.html">Reviews</a></li>
                    <li><a href="dashboard-bookmarks.html">Bookmarks</a></li>
                    <li><a href="blog-single.html">Add Listing</a></li>
                    <li><a href="dashboard-my-profile.html">My Profile</a></li>
                </ul> 
              </li>
              <li><a href="signin.html">Sign In</a></li>
            </ul>
            <div class="submit_listing">
	            <a href="pricing.html" class="btn outline-btn"><i class="fa  fa-plus-circle"></i> Submit Listing</a>
            </div>
          </div>
        </div>
    </nav>
</header>
<!-- Header Style 1 End-->
    	<div class="holder_image" style="background-image:url(assets/images/1920x800.jpg);">
        	<div class="dark-overlay"></div>        	
        </div>
    
    </section>
    
    
    <section class="section-padding gray_bg">
    	<h2>Header Style 2</h2>
        
        <!-- Header Style 2 Start-->
        <header id="header" class="header_style2">
    <nav class="navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="10">
        <div class="container">
          <div class="navbar-header">
            <div class="logo"> <a href="index.html"><img src="assets/images/logo2.png" alt="image"/></a> </div>
            <button id="menu_slide" data-target="#navigation" aria-expanded="false" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> 
                <span class="sr-only">Toggle navigation</span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
            </button>
          </div>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav">
              <li class="menu-item-has-children"><a href="#">Home</a> <span class="arrow"></span>
              	<ul class="sub-menu">
                	<li><a href="index.html">Home 1</a></li>
                    <li><a href="index-2.html">Home 2</a></li>
                    <li><a href="index-3.html">Home 3</a></li>
                 </ul>
              </li>
              <li class="menu-item-has-children"><a href="#">Listing</a> <span class="arrow"></span>
              	 <ul class="sub-menu">
                 	<li class="menu-item-has-children"><a href="#">Grid Layout</a> <span class="arrow"></span>
                    	<ul class="sub-menu">
                            <li><a href="listing-grid.html">Listing Gird</a></li>
                            <li><a href="listing-grid-sidebar.html">Listing Gird Sidebar</a></li>
                            <li><a href="listing-grid-map.html">Listing Gird Half Map</a></li>
                        </ul> 
                    </li>
                    <li class="menu-item-has-children"><a href="#">List Layout</a> <span class="arrow"></span>
                    	<ul class="sub-menu">
                            <li><a href="listing-listview.html">Listing List</a></li>
                            <li><a href="listing-listview-sidebar.html">Listing List Sidebar</a></li>
                            <li><a href="listing-listview-map.html">Listing List Half Map</a></li>
                        </ul> 
                    </li>
                    <li class="menu-item-has-children"><a href="#">Single Listing</a> <span class="arrow"></span>
                    	<ul class="sub-menu">
                            <li><a href="listing-detail-1.html">Style 1</a></li>
                            <li><a href="listing-detail-2.html">Style 2</a></li>
                        </ul> 
                    </li>
                 </ul>
              </li>
              <li class="menu-item-has-children"><a href="#">Pages</a> <span class="arrow"></span>
              	 <ul class="sub-menu">
                	<li><a href="about-us.html">About Us</a></li>
                    <li><a href="how-it-work.html">How it Work</a></li>
                    <li><a href="pricing.html">Pricing</a></li>
                    <li><a href="contact-us.html">Contact Us</a></li>
                    <li><a href="404-error.html">404 Error</a></li>
                </ul> 
              </li>
              <li class="menu-item-has-children"><a href="#">Blog</a> <span class="arrow"></span>
              	 <ul class="sub-menu">
                	<li><a href="blog-grid-style.html">Blog Grid Style</a></li>
                    <li><a href="blog-list-style.html">Blog List Style</a></li>
                    <li><a href="blog-single.html">Single Blog</a></li>
                </ul> 
              </li>
              <li class="menu-item-has-children">
              		<a href="#">Elements</a>
                    <ul class="sub-menu">
                        <li><a href="header.html">Header Style</a></li>
                        <li><a href="footer.html">Footer Style</a></li>
                    </ul> 
               </li>
              <li class="menu-item-has-children"><a href="#">User Panel</a> <span class="arrow"></span>
              	 <ul class="sub-menu">
                	<li><a href="dashboard.html">Dashboard</a></li>
                    <li><a href="dashboard-my-listings.html">My Listings</a></li>
                    <li><a href="dashboard-reviews.html">Reviews</a></li>
                    <li><a href="dashboard-bookmarks.html">Bookmarks</a></li>
                    <li><a href="blog-single.html">Add Listing</a></li>
                    <li><a href="dashboard-my-profile.html">My Profile</a></li>
                </ul> 
              </li>
              
            </ul>
            <ul class="nav navbar-nav dashboard_menu">
            	<li><a href="signin.html">Sign In</a></li>
            </ul>
            <div class="front_nav_bar">
          		<a href="javascript:;" class="menu-toggle-bar">
                	<i class="fa fa-bars"></i>
                    <i class="fa fa-close"></i>
                </a>
          	</div>
            <div class="submit_listing">
	            <a href="pricing.html" class="btn outline-btn"><i class="fa  fa-plus-circle"></i> Submit Listing</a>
            </div>
           
          </div>
          
        </div>
    </nav>
</header>

<!-- Header Style 2 End-->

    	<div class="holder_image" style="background-image:url(assets/images/1920x800.jpg);">
        	<div class="dark-overlay"></div>        	
        </div>
    
    </section>
    
    <section class="section-padding" id="header_element_style3">
    	<h2>Header Style 3</h2>
        
        <!-- Header Style 3 Start-->
        <header id="header" class="header_style3">
  <nav class="navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="10">
    <div class="container">
      <div class="nav_top">
        <div class="navbar-header">
          <div class="logo"> <a href="index.html"><img src="assets/images/logo2.png" alt="image"/></a> </div>
          <button id="menu_slide" data-target="#navigation" aria-expanded="false" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div class="top_login_submit">
          <ul class="nav navbar-nav dashboard_menu">
            <li><a href="signin.html">Sign In</a></li>
          </ul>
          <div class="submit_listing"> <a href="pricing.html" class="btn outline-btn"><i class="fa  fa-plus-circle"></i> Submit Listing</a> </div>
        </div>
      </div>
      <div class="menu_bar">
        <div class="collapse navbar-collapse" id="navigation">
          <ul class="nav navbar-nav">
            <li class="menu-item-has-children"><a href="#">Home</a> <span class="arrow"></span>
              <ul class="sub-menu">
                <li><a href="index.html">Home 1</a></li>
                <li><a href="index-2.html">Home 2</a></li>
                <li><a href="index-3.html">Home 3</a></li>
              </ul>
            </li>
            <li class="menu-item-has-children"><a href="#">Listing</a> <span class="arrow"></span>
              <ul class="sub-menu">
                <li class="menu-item-has-children"><a href="#">Grid Layout</a> <span class="arrow"></span>
                  <ul class="sub-menu">
                    <li><a href="listing-grid.html">Listing Gird</a></li>
                    <li><a href="listing-grid-sidebar.html">Listing Gird Sidebar</a></li>
                    <li><a href="listing-grid-map.html">Listing Gird Half Map</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children"><a href="#">List Layout</a> <span class="arrow"></span>
                  <ul class="sub-menu">
                    <li><a href="listing-listview.html">Listing List</a></li>
                    <li><a href="listing-listview-sidebar.html">Listing List Sidebar</a></li>
                    <li><a href="listing-listview-map.html">Listing List Half Map</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children"><a href="#">Single Listing</a> <span class="arrow"></span>
                  <ul class="sub-menu">
                    <li><a href="listing-detail-1.html">Style 1</a></li>
                    <li><a href="listing-detail-2.html">Style 2</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="menu-item-has-children"><a href="#">Pages</a> <span class="arrow"></span>
              <ul class="sub-menu">
                <li><a href="about-us.html">About Us</a></li>
                <li><a href="how-it-work.html">How it Work</a></li>
                <li><a href="pricing.html">Pricing</a></li>
                <li><a href="contact-us.html">Contact Us</a></li>
                <li><a href="404-error.html">404 Error</a></li>
              </ul>
            </li>
            <li class="menu-item-has-children"><a href="#">Blog</a> <span class="arrow"></span>
              <ul class="sub-menu">
                <li><a href="blog-grid-style.html">Blog Grid Style</a></li>
                <li><a href="blog-list-style.html">Blog List Style</a></li>
                <li><a href="blog-single.html">Single Blog</a></li>
              </ul>
            </li>
            <li class="menu-item-has-children">
              		<a href="#">Elements</a>
                    <ul class="sub-menu">
                        <li><a href="header.html">Header Style</a></li>
                        <li><a href="footer.html">Footer Style</a></li>
                    </ul> 
               </li>
            <li class="menu-item-has-children"><a href="#">User Panel</a> <span class="arrow"></span>
              <ul class="sub-menu">
                <li><a href="dashboard.html">Dashboard</a></li>
                <li><a href="dashboard-my-listings.html">My Listings</a></li>
                <li><a href="dashboard-reviews.html">Reviews</a></li>
                <li><a href="dashboard-bookmarks.html">Bookmarks</a></li>
                <li><a href="blog-single.html">Add Listing</a></li>
                <li><a href="dashboard-my-profile.html">My Profile</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>

<!-- Header Style 3 End-->
    	<div class="holder_image" style="background-image:url(assets/images/1920x800.jpg);">
        	<div class="dark-overlay"></div>       	
        </div>   
    </section>
    
</div>







<!-- Scripts --> 
<script src="assets/js/jquery.min.js"></script> 
<script src="assets/js/bootstrap.min.js"></script> 
<script src="assets/js/interface.js"></script> 
<!--Carousel-JS--> 
<script src="assets/js/owl.carousel.min.js"></script> 
<!--Switcher--> 
<script src="assets/switcher/js/switcher.js"></script>
</body>
</html>