{# app/Resources/views/Emails/registration.html.twig #}
<h3>You has recieve a message from doctrosbillboard.com!</h3>

Hi {{ name }}! You're successfully registered.

{# example, assuming you have a route named "login" #}
To login, go to: <a href="">...</a>.

Thanks!

{# Makes an absolute URL to the /images/logo.png file #}
