<div class="text-center">Available for: <br>
    <img data-toggle="tooltip" title="USA" src="{{ asset('bundles/web/template/Site/assets/images/usa-small.png') }}" class="" width="40px" alt="USA">
    <img data-toggle="tooltip" title="Canada" src="{{ asset('bundles/web/template/Site/assets/images/canada-small.png') }}" class="" width="40px" alt="Canada">
    <img data-toggle="tooltip" title="Australia" src="{{ asset('bundles/web/template/Site/assets/images/ausrtralia-small.png') }}" class="" width="40px" alt="Australia">
</div>
<br>