<h3>You did it! You registered!</h3>

Hi {{ name }}! You're successfully registered.

{# example, assuming you have a route named "login" #}
To login, go to: <a href="{{ url('login') }}">...</a>.

Thanks!
<table>
    <tr>
        <td></td>
    </tr>
    <tr>    
        <td></td>
    </tr>
    <tr>    
        <td></td>
    </tr>
</table>

<br>
<p>
    If you want to update your information, you can access in the link below. <br>
    To login, go to: <a href="www.doctorsbillboard.com/login">www.doctorsbillboard.com/login</a>.
</p>
<p>
    If you want to disable the notifications click in "setting"
</p>
Thanks!

{# Makes an absolute URL to the /images/logo.png file #}
