<h3>You did it! You registered!</h3>

Hi! You're successfully registered.

{# example, assuming you have a route named "login" #}
Thanks!

<p>
To validate the new user registration click in link below, this link will be available the next <strong>48 hours</strong> otherwise it will be canceled the record<br>
<a href="www.doctorsbillboard.com/login?tokenConfirmation={{token}}">www.doctorsbillboard.com/login?tokenConfirmation={{token}}</a>
</p>
<br>
<p>
    If you want to update your information, you can access in the link below. <br>
    To login, go to: <a href="www.doctorsbillboard.com/login">www.doctorsbillboard.com/login</a>.
</p>
<p>
    If you want to disable the notifications click in "setting"
</p>
Thanks!

{# Makes an absolute URL to the /images/logo.png file #}
