<h3>Hi!</h3> 

<h3>Your request to change the password was accepted!</h3>

<p>First of all you must validate the new password to get access to doctorsbillboard.com</p>

<br>
<table>
    <tr>    
        <td><strong>New password:</strong> {{ password }}</td>
    </tr>
</table>
<br>
<p>
To validate the new password click in link below, after that you can must change it, this link will be available the next <strong>48 hours</strong><br>
<a href="www.doctorsbillboard.com/login?token={{token}}">www.doctorsbillboard.com/login?token={{token}}</a>
</p>
<br>
<p>
    <strong>Note: If you did not this, please ignore this email</strong>
</p>
<br>
<p>
    If you want to update your information, you can access in the link below. <br>
    To login, go to: <a href="www.doctorsbillboard.com/login">www.doctorsbillboard.com/login</a>.
</p>

Thanks!

{# Makes an absolute URL to the /images/logo.png file #}
